<div class="row justify-content-md-center">
    <div class="col-md-4">
        {{#if message}}
            <div class="alert {{messageClass}}">
                {{message}}
            </div>
        {{/if}}
        <form action="/register" method="POST">
            <div style="color:#2D31FA;" class="form-group">
            Nombre Completo
            <input type="text" name="fullName" id="fullName" class="form-control" placeholder="Nombre de Usuario">
        </div>

        <div style="color:#2D31FA;" class="form-group">
            Email
            <input type="text" name="email" id="email" class="form-control" placeholder="nombre@example.com">
        </div>

        <div style="color:#2D31FA;" class="form-group">
            Contraseña
            <input type="password" name="password" id="password" class="form-control" placeholder="****">
        </div>

        <div style="color:#2D31FA;" class="form-group">
            Confirmar Contraseña
        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="****">
        </div></br>
       <center><button  type="submit" style="background-color:#5D8BF4; border-color:#5D8BF4; color:#DFF6FF" class="btn btn-lg active">REGISTER</button></center> 
        </form>
    </div>
</div>